<%- include('../Dashboardhead.ejs') %>
<style>
  input[type="file"]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: #a29bfe;
    transition: 1s;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }
</style>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12"><h1>Category Data > <h5><%= view.title %></h5></h1></div>
                    </div>

        <!--blog table-->
                    <table class="table table-bordered table-striped">
                        <thead class="bg-success">
                          <tr>
                            <th scope="col">Id No.</th>
                            <th scope="col">Title</th>
                            <th scope="col">description</th>
                            <th scope="col">PostDate</th>
                            <th scope="col">Image</th>
                          </tr>                       
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row"><%= view._id %></th>
                            <td><%= view.title %></td>
                            <td><%= view.description %></td>
                            <td><%= view.postdate %></td>
                            <td><img  src="<%= view.image.url %>" class="displayimg"></td>
                          </tr>                          

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>

  <!--footer-->
<div style="padding-top: 5cm;"></div>
<%-include("../../footer.ejs")%>
